include ./.gitignore
include ./gpl-3.0.txt
include ./__init__.py
include ./install-hooks.sh
include ./lgpl-3.0.txt
include ./LICENSE.txt
include ./MANIFEST.in
include ./README.md
include ./requirements.txt
include ./setup.cfg
include ./setup.py
graft ./hooks/
graft ./ToBeGreen/
graft ./docs/
prune ./docs/_build/
prune ./bin/
prune ./lib/
prune ./build/
prune ./dist/
exclude ./pyvenv.cfg
global-exclude __pycache__/*
